@model Simulation.UI.Models.WeekSelectionModel
@{
    ViewBag.Title = "Week Selection (" + Model.ItemType + ")";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
        <link href="@Url.Content("~/Content/Grids/Css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Content/Grids/Scripts/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/Grids/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Custom/WeekSelection.js")" type="text/javascript"></script>
}

@section TopOfPage
{
    <select id="rulesSelector">
        @foreach (var alg in Model.Settings.ScoreAlgorythms)
        {
            <option value="@alg.Name" selected="@alg.InUse">@alg.Description</option> 
        }
    </select>

}
<h2>Week Selection 
<span class="typeSelector">
    <a href="@Url.Action("WeekSelection","Home",new {@id="Artist"})">
        @if (Model.ItemType == Sciendo.Core.Providers.DataTypes.ItemType.Artist)
        {
        <span class="selected">Artists</span>
        }
        else
        {
        <span class="unSelected">Artists</span>
        }
    </a>
    </span>
<span class="typeSelector">
 <a href="@Url.Action("WeekSelection", "Home", new { @id = "Track" })">
        @if (Model.ItemType == Sciendo.Core.Providers.DataTypes.ItemType.Track)
        {
        <span class="selected">Tracks</span>
        }
        else
        {
        <span class="unSelected">Tracks</span>
        }
 </a>
 </span>
 </h2>
<input type="hidden" value="@Model.ItemType" id="typeOfSelection"/>
<input type="hidden" value="@Model.NextWeekToProcess" id="nextWeekToProcess" />
<input type="hidden" value="@Model.CurrentAlgorythm.NoOfItemsConsidered" id="noOfItems" />
<input type="hidden" id="shouldAsk" value="@(Model.NextWeekToProcess>1)" />
<div id="dialog-confirm" title="Do you want to delete existing data?">
	<p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
    </span><div id="dialogmessage"></div></p>
</div>
<div id="availableWeeks">
    <label>Available Weeks:</label>
    <div id="accordion">
    @foreach (Simulation.UI.Models.WeekModel week in Model.AvailableWeeks)
    {
        <h3>
            <a href="#">
                <img class="week-image" src="@Url.Content("~/Content/images/" + @week.SeasonImage)" /><span class="weekTitle">Week: @week.WeekNo<span class="weekDetail">@week.DisplayValue</span></span>
            </a>
        </h3>
        <div>
        <div class="tall">
            <span class="action" id="@string.Concat("action",week.WeekNo)">
            @if (week.WeekNo == Model.NextWeekToProcess)
            {
                if (Model.FirstWeekTop == null)
                {
                    <p>No Data Retrieved for this week.Check the connection with your top provider.</p> 
                }
                else
                {
                    if (Model.FirstWeekTop == null || !Model.FirstWeekTop.TopProcessed)
                    { 
                    <input type="button" class="addToTotal" id="@string.Concat("addToTotal", @week.WeekNo)" value="Add to total"/>
                    }
                    else
                    {
                    <p>Processed</p>
                    }
                }
            }
            </span>
            @if(Model.FirstWeekTop!=null)
            {
            <ul id="@string.Concat("TopWeek", week.WeekNo)" class="topWeek">
            @if (week.WeekNo == Model.NextWeekToProcess)
            {
                foreach (Sciendo.Core.Providers.DataTypes.TopItem topItem in Model.FirstWeekTop.TopItems)
                {
                    <li class="topItem" id="@string.Concat("li", week.WeekNo.ToString() + topItem.Rank.ToString())"><span>@topItem.Rank</span>
                    <span id="@string.Concat("w" + week.WeekNo, "i" + topItem.Rank)">@topItem.ItemName</span>
                    <span>(@topItem.NumberOfPlays)</span></li>     
                }
            }
            </ul>
            }
        </div>
        </div> 
    }
    </div>
</div>

<div id="totals" class="totals">
Total
<table id="totalsList"></table>
<div id="totalspager"></div>
</div>